<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=restaurant.name%></title>

    <link href="css/bootstrap.min.css" rel = "stylesheet" type="text/css"/>
</head>
</bo>
    <div class = "jumbotron">
        <h1>&nbsp<%=restaurant.name%></h1>
    </div>

    <% if(restaurant.photo != null){ %>
        <img class="img-thumbnail" src="data:<%=restaurant.minetype%>;base64,<%=restaurant.photo%>"/>
        <hr>
    <%}%>

    <dl class="dl-horizontal">
        <dt>Borough:</dt><dd><%=restaurant.borough%></dd>
        <dt>Cuisine:</dt><dd><%=restaurant.cuisine%></dd>
        <dt>Street:</dt><dd><%=restaurant.address.street%></dd>
        <dt>Building:</dt><dd><%=restaurant.address.building%></dd>
        <dt>Zipcode:</dt><dd><%=restaurant.address.zipcode%></dd>
        <dt>GPS:</dt><dd>[<%=restaurant.address.coord[0]%>,<%=restaurant.address.coord[1]%>]</dd>

        <dt>Rating:</dt>
        <dd>
            <ol>
                <% for(var i = 0; i < restaurant.rating.length; i++){ %>
                    <li><%=restaurant.rating[i].rate%> (<%=restaurant.rating[i].rateBy%>)</li>
                <% } %>
            </ol>
        </dd>
        <dt>Created by:</dt><dd><%=restaurant.createBy%></dd>
    </dl>
    <% if (restaurant.address.coord[0] != null && restaurant.address.coord[1] != null) {%>
        <div class="col-lg-5">
            <a href="/map?lat=<%=restaurant.address.coord[0]%>&lon=<%=restaurant.address.coord[1]%>&name=<%=restaurant.name%>" class="btn btn-default" role="button">Check on Google Map</a>
        </div>
    <% }%>
    <br>
    <br>
    <div class="row">
        &nbsp&nbsp&nbsp&nbsp
        <a class="btn btn-default" href="/rate?_id=<%=restaurant._id.toString()%>" role="button">Rate</a>

        <a class="btn btn-default" href="/edit?_id=<%=restaurant._id.toString()%>" role="button">Edit</a>

        <a class="btn btn-default" href="/delete?_id=<%=restaurant._id.toString()%>" role="button">Delete</a>

        <a class="btn btn-default" href="/read" role="button">Back</a>
    </div>
</body>
</html>