<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Restaurant Record</title>
    <link href="css/bootstrap.min.css" rel = "stylesheet" type="text/css"/>
</head>
<body>
<div class = "jumbotron">
    <h1>&nbspEdit Restaurant Record</h1>
    <p>&nbspid: <%=restaurant._id.toString()%></p>
</div>

<div class="col-lg-11">
    <form action="/edit" method="post" encType="multipart/form-data" >
        <input type="hidden" name="_id" value="<%=restaurant._id.toString()%>">
        <div class="form-group">
            <label for="restaurantName">Name*</label>
            <input name="name" type="text" class="form-control" id="restaurantName" placeholder="Restaurant Name (*required)" value="<%=restaurant.name%>">
        </div>
        <div class="form-group">
            <label for="borough">Borough</label>
            <input name="borough" type="text" class="form-control" id="borough" placeholder="Borough" value="<%=restaurant.borough%>">
        </div>
        <div class="form-group">
            <label for="cuisine">Cuisine</label>
            <input name="cuisine" type="text" class="form-control" id="cuisine" placeholder="Cuisine" value="<%=restaurant.cuisine%>">
        </div>
        <div class="form-group">
            <label for="street">Street</label>
            <input name="street" type="text" class="form-control" id="street" placeholder="Street" value="<%=restaurant.address.street%>">
        </div>
        <div class="form-group">
            <label for="building">Building</label>
            <input name="building" type="text" class="form-control" id="building" placeholder="Building" value="<%=restaurant.address.building%>">
        </div>
        <div class="form-group">
            <label for="zipcode">Zipcode</label>
            <input name="zipcode" type="text" class="form-control" id="zipcode" placeholder="Zipcode" value="<%=restaurant.address.zipcode%>">
        </div>
        <div class="form-group">
            <label for="lon">GPS Coordinates (lon.)</label>
            <input name="lon" type="text" class="form-control" id="lon" placeholder="Lon" value="<%=restaurant.address.coord[0]%>">
        </div>
        <div class="form-group">
            <label for="lat">GPS Coordinates (lat.)</label>
            <input name="lat" type="text" class="form-control" id="lat" placeholder="Lat" value="<%=restaurant.address.coord[1]%>">
        </div>

        <div class="form-group">
            <label for="photo">Photo</label>
            <input type="file" id="photo" name="photo">
        </div>
        <div class="form-group col-lg-1">
            <button type="submit" class="btn btn-default btn-block">Submit</button>
            <a class="btn btn-default" href="/display?_id=<%=restaurant._id.toString()%>" role="button">Back</a>
        </div>


    </form>
</div>

</body>
</html>